include /_mixins
include /_cart_mock
include /_functions

doctype html
html(lang='en')
  head
    title Web Store
    +stylesheet_link_tag('application')
    link(rel='stylesheet' href='stylesheets/application.css')
    link(href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css')
  body
    main
      h1 Products
      #cart
        h3
          a(href='#')
            | Cart
            span= quantity(cart)
        #items
          ul
            each item in cart
              li
                | #{item.title} x #{item.quantity}
                span= format(item.price * item.quantity)
            li
              strong Total
              span= format(total(cart))
          a(href='#') Checkout

      block content
    +javascript_include_tag('cart')
